* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background-color: #e6e6e6;
  color: #000;
}
#app .container {
  width: 100%;
  max-width: 600px;
  margin: 50px 0;
  border-radius: 20px;
  background-color: #eff6f8;
}
#app .container .add-note {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 20px;
  background-color: #2378c3;
}
#app .container .add-note p {
  color: #fff;
  font-size: 20px;
}
#app .container .add-note textarea, #app .container .add-note input {
  width: 100%;
  border-radius: 6px;
  padding: 4px 6px;
}
#app .container .add-note button {
  width: 100%;
  padding: 8px 12px;
  border-radius: 10px;
  border: 0px;
  background-color: #73b3e7;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
#app .container .add-note button:hover {
  background-color: #2e97e8;
}
#app .container .notes {
  padding: 10px;
}
#app .container .notes .note {
  padding: 14px;
  border-radius: 6px;
}
#app .container .notes .note .note-title {
  display: flex;
  justify-content: space-between;
}
#app .container .notes .note .note-title h5 {
  font-weight: 500;
  font-size: 18px;
  padding: 4px 0px;
}
#app .container .notes .note .note-title button {
  display: none;
  padding: 4px 8px;
  border-radius: 8px;
  border: 0px;
  background-color: #73b3e7;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
#app .container .notes .note .note-title button:hover {
  background-color: #2e97e8;
}
#app .container .notes .note .note-content {
  margin: 5px 0;
}
#app .container .notes .note:hover {
  background-color: #e6e6e6;
}
#app .container .notes .note:hover button {
  display: block;
}